@import "../../Colors.scss";


  .labelInvalid {
    display: block;
    font-size: 12px;
    color: #dd5454;
    right: 5px;
    background-color: #fff;
    border-radius: 3px;
    line-height: 1px;
  }
