@import '../../Colors.scss';


.Navigation {
    background: $background;

    .box-nav {
        justify-content: space-between;
        padding: 20px 0;

        img {
            height: 140px;
        }

        ul {
            gap: 15px;

            li{
                list-style: none;
                a, span {     
                    color: $link;  
                    font-weight: 500;             
                    font-size: 16px;

                    &:hover{
                        color: $hoverLink;
                    }
                }
            }

            .login{
                gap: 7px;

                a {
                    text-decoration: revert;
                    position: relative;
                    display: inline-block;
                    max-width: 160px;
                    &:after {
                    content: "";
                    position: absolute;
                    top: 110%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    width: 0%;
                    height: 1px;
                    transition: 0.5s ease;
                    border-radius: 1px;
                    background: $hoverLink;
                    }
                    &:hover {
                    color: $hoverLink;
                    text-decoration: none;

                    &:after {
                        width: 100%;
                    }
                    }
                }
            }
        }

        .user {
            gap: 7px;
            position: relative;
            cursor: pointer;
            svg {
                width: 24px;
                height: 24px;
                color: $link;
            }

            span{
                &:hover{
                .avatar, span{
                    color: $hoverLink;
                }
            }
            }

            .drop{
                position: absolute;
                background: $white;
                border-radius: 4px;
                box-shadow: 1px 2px 8px #ccc;
                padding: 10px;
                top: 38px;
                width: 100%;
                align-items: flex-start;
                gap: 25px;

                svg {
                    width: 18px;
                    height: 18px;
                    color: $hoverLink;
                }

                button {
                    cursor: pointer;
                    border: none;
                    background: transparent;
                    gap: 7px;
                    font-size: 14px;
                    color: $hoverLink;
                    font-weight: 500;
                    padding: 0;
                }

                a {
                    gap: 7px;
                    font-size: 14px;
                    color: $hoverLink;
                }
            }
        }
    }

    @media (max-width:768px){
        .box-nav {
            padding: 15px;
            img{
                height: 70px;
            }
        }
        .bars{
            width: 24px;
            height: 24px;
            color: $title;
        }

        .NavigationMenuMobile{
            position: fixed;
            background: $mainColor;
            height: 100vh;
            top: 0;
            right: 0;
            width: 100%;
            z-index: 5;

            .close {
                position: absolute;
                right: 15px;
                color: $white;
            }

            ul {
                padding: 50px 0;
                gap: 15px;

                li{
                    background: $title;
                    padding: 15px 0;
                    border-radius: 4px;
                    color: $white;
                    font-weight: 700;

                    a{
                        width: 100%;
                        height: 100%;
                        font-weight: 700;
                        color: $white;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                    }
                }
            }
        }
    }
}