$lightGrey: #e5e5e5;
$background: #F6FAFF;
$mainColor: #549EFF;
$title: #0F3971;
$link: #ACC2CD;
$hoverLink:#455A64;
$darkText: #161616;
$greyText: #9BA1A9;
$white: #fff;
$rose: #f7f3eb;
$rose1: #f1dbda;
$rose2: #fcd0cf;
$rose3: #cfbdbf;
$darkGrey: #a2a9af;
$scrollBarColor: $mainColor;
$scrollBarHoverColor: $title;
